rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{targetUid} {
      allow read: if request.auth != null; // TODO
    }

    match /users/{targetUid} {
      allow create, update: if request.auth != null
                            && targetUid == request.auth.uid
                            && (
                              (!("accountType" in request.resource.data)
                               || (request.resource.data.accountType == "student" || request.resource.data.accountType == "teacher"))
                              && (!("username" in request.resource.data)
                               || (request.resource.data.username != "" || request.resource.data.username.length <= 72))
                            );

      allow delete: if false; // TODO
    }
  }
}
