rules_version = '2';

service firebase.storage {
  match /databases/{database}/documents {
  	match /users/{targetUid} {
      allow read: if true; // TODO
      allow write: if targetUid == request.auth.uid;
    }
  }
}
